body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

.btn {
    font-size: 24px;
    padding: 30px 50px;
    background-color: brown;
}

.TrocarCor {
    font-size: 24px;
        padding: 30px 50px;
        background-color: green;
}